# C# project files
*.user

# Rider project files
/.idea/

# VS Code project files
/.vscode/

# C# generated folders
bin/
obj/

# C++ build folders
build/

# packaged files
/*/package/*.zip
/*/package/patchers/
/*/package/plugins/

# UpdateGameDlls build-time lock file (created by UpdateGameDlls.ps1)
AssemblyFromGame/.update.lock
